include hip_quantize.dll
include hip_quantize_rocm721.dll
include libhip_quantize.so
include _C*.pyd
include *.h
include *.cpp
include build.ps1
include build.sh
recursive-include kernels *
recursive-include torch_ext *
recursive-include tests *
include torch_api.py
include device_info.py
include cdna_compat.py
include setup_torch.py
include DOCUMENTATION.md
global-exclude __pycache__/*
global-exclude *.py[cod]
